<main>
  <aside>
 
    <section class="center">
        <div class="player"></div>
    </section>
  

    <section class="center">
        <div class="player"></div>
        <div class="player"></div>
        <div class="player"></div>

    </section>

    <section class="center">
    <div class="player"></div>
    <div class="player"></div>
    </section>

    





    <section class="center">
    </section>
  

    <section class="center">
        <div class="player"></div>
        <div class="player"></div>

    </section>

    <section class="center">
    <div class="player"></div>
    <div class="player"></div>
    <div class="player"></div>

    </section>

    <section class="center">
        <div class="player"></div>
        </section>
    
  </aside>



  <div>
    <ul>
        @for (item of items; track $index) {
        <li> 
          <p>{{ item.label }}</p>
        </li>
        }
      </ul>
  </div>

</main>
