<div class="display">

    <app-project project="semaphore" buttonText="ver painel" title="Painel" buttonLink="/projects/semaphore/painel"
        image="projects/semaphore/pedestres.svg">
        Identificação de Veículos e Monitoramento de Tráfego
    </app-project>

    <app-project project="semaphore" buttonText="ver slides" title="Slides" buttonLink="/projects/semaphore/slides"
        image="projects/semaphore/slides.svg">
        Identificação de Veículos e Monitoramento de Tráfego
    </app-project>

    <app-project project="semaphore" buttonText="ver doc" title="Documentacão" buttonLink="/projects/semaphore/doc"
        image="projects/semaphore/documentos.svg">
        Identificação de Veículos e Monitoramento de Tráfego
    </app-project>


    <app-project project="semaphore" buttonText="ver codigo" title="Codigo" buttonLink="/projects/semaphore/code"
        image="projects/semaphore/codigo.svg">
        Identificação de Veículos e Monitoramento de Tráfego
    </app-project>


    <app-project project="semaphore" buttonText="ver progresso" title="Nosso Progresso" buttonLink="/projects/semaphore/progress"
        image="projects/semaphore/progresso.svg">
        Identificação de Veículos e Monitoramento de Tráfego
    </app-project>
</div>

