<div class="display">

    <app-project project="semaphore" buttonText="ver mais" title="Smart semaphore" buttonLink="/projects/semaphore"
        image="transport.png">
        Identificação de Veículos e Monitoramento de Tráfego
    </app-project>

    <app-project project="semaphore" buttonText="em desenvolvimento" title="Unilora" buttonLink="/projects/"
        image="lora.png">
        projeto integrador esp32 com comunicação iot offline </app-project>

    <app-project project="semaphore" buttonText="em desenvolvimento" title="Base de estudo"
        buttonLink="/projects" image="base_conhecimento.svg">
        Pequenos projetos com foco no aprendizado e exploração das tecnologias
    </app-project>

    <app-project project="semaphore" buttonText="em desenvolvimento" title="2025" buttonLink="/projects/"
        image="projects/semaphore/semaforo.jpg">
        sessão dedicada aos nossos futuros projetos
    </app-project>

</div>